
@font-face {
    font-family: 'Trade Gothic Light';
    src: url('../fonts/KozGoPr6N-Regular.otf');

}

/* ------- menu bar ------ */

/* ------- jose estuvo aqui ------ */
body { 
font-family: 'Trade Gothic Light';
 font-size: 15px; 
}


.imgLogo{

		 width: 100%;
		 margin: 2em;
  		
	}

/* home */
