
@font-face {
    font-family: 'Koz';
    src: url('../fonts/KozGoPr6N-Regular.otf');


}
@font-face {
 
      font-family: 'KozBold';
    src: url('../fonts/KozGoPr6N-Bold.otf');


}

@font-face {
 
      font-family: 'KozLi';
    src: url('../fonts/KozGoPr6N-ExtraLight.otf');


}
/* ------- menu bar ------ */

/* ------- jose estuvo aqui ------ */
body { 
font-family: 'Koz';
 font-size: 15px; 
}
/* ------- Generics ------ */
.nav-link{

	color: gray;
		padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 1.5em;
	padding-right: 1.5em;

}
.menuActivo{

	background-color: #36a1e2;
	color:white;
	border-radius: 1em;

}


/* ------- menu bar ------ */

.imgLogo{

		 width: 100%;

		 
		 margin: 2em;
  		
	}



.botonMenu{
	background: url("../img/menu.png");
	width: 2em;
	height: 1.6em;
   
    border: none;
}



.cuerpo-contenido{

	margin-top: 5em;
}

.content-menu{
	 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: baseline;
	position: absolute;
	z-index: 100;
	margin-top: -2.5em;
	width: 100%;	
}




.verMas-comp{

	background-color: #ccc8c7;
	font-size: .7em;
	font-family: 'KozBold';
	width: 100%;
}
.verMas{

	color: white;

	font-family: 'KozLi';

}

.articulosCardio{

margin-top:  50px;

}
/* home */


/*--------------------------------------------------------------- Cardio Blog-------------------------------------------------------------------------------------------------------------------*/


.cardioBlog{

margin-top:  200px;

}

.cardioBlogDos{

margin-top:  100px;

}
.articulo-cardioBlog{

		background-color: #f3f3f3;

}
.descripcion-cardioArt{

padding-top:30px;
padding-bottom: 30px;

}

.btn-verCardioBlog{
margin-top:-20px;
	background-color: #ce020b;
	height: 2em;
}

.text-btnverCardioBlog{

	color: white;
	text-decoration: none;
	

}

/*--------------------------------------Footer-------------------------------------------------------*/

footer{

	background-color: #36a1e2;

	padding-top: 3em;
    padding-bottom: 2em;

  
}

footer a{

	  color: white;
	   text-decoration: underline;
}